<div class="pageTitle">
  <fieldset>
    <legend> <%= @owner.name %> </legend>

    <div class="pageContents">
      <div class="ownerShow">
        <p>Name: <%= @owner.name %></p>
        <p>Tel: <%= @owner.tel %></p>
        <p>Dwelling: <%= @owner.resType %></p>
        <p>Garden:   <%= @owner.garden %></p>
        <p>Pets: <%= @owner.otherPets %></p>


        


      </div>

    </div>
  </fieldset>

</div>


